<a href="https://colab.research.google.com/github/HanRyunKyeong/projectmanager/blob/main/1_%E1%84%91%E1%85%A1%E1%84%8B%E1%85%B5%E1%84%8A%E1%85%A5%E1%86%AB%E1%84%80%E1%85%B5%E1%84%8E%E1%85%A9_02_%E1%84%8C%E1%85%A1%E1%84%85%E1%85%AD%E1%84%92%E1%85%A7%E1%86%BC%E1%84%80%E1%85%AA%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%E1%84%91%E1%85%AD%E1%84%92%E1%85%A7%E1%86%AB_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [2]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)

30
-10
200
0.5

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [3]:
print (10+3*4)
print (15*1300000)

a=2
b=5
c=3
print ((a*3)*(b*4)*(c*4))

22
19500000
1440

In [14]:
# 문제1: 10 + 3 x 4 결과 출력
print (10+3*4)
# 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
print('%d x %d = %d' % (iphone, price, iphone*price))
print(f'{iphone:>10} x {price} = {iphone*price}')
# 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
import random
number = random.randint(1,100) # 1~100까지의 임의의 정수
if number%2==0 : #number를 2로 나눠서 나머지가 0인것: 짝수
  print(number, '짝수')
else :
  print(number, '홀수')

# 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
print(2*2*2*5*5*5*5*3*3*3*3)
print(2**3*5**4*3**4)

22
15 x 1300000 = 19500000
        15 x 1300000 = 19500000
11 홀수
405000
405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [10]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

데이터 123의 자료형: <class 'int'>
데이터 123의 자료형: <class 'str'>
데이터 [123]의 자료형: <class 'list'>
데이터 (123,)의 자료형: <class 'tuple'>
데이터 {'key': 123}의 자료형: <class 'dict'>
데이터 {123}의 자료형: <class 'set'>
데이터 True의 자료형: <class 'bool'>

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [23]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
# a = input('숫자를 입력하세요: ')
# a = float(a)
a = float( input('숫자를 입력하세요: '))

# 표준 출력
print (f'변수 a의 값: {a}, {type(a)}')

숫자를 입력하세요: 30
변수 a의 값: 30.0, <class 'float'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [3]:
num1 = int(input('첫번째 숫자: '))
num2 = int(input('두번째 숫자: '))
print('-'*50) #* : 문자열 반복
print('덧셈:%d + %d = %d'%(num1, num2, num1+num2))
print('뺄셈:%d - %d = %d'%(num1, num2, num1-num2))
print('곱셈:%d * %d = %d'%(num1, num2, num1*num2))
print('나눗셈:%d / %d = %f'%(num1, num2, num1/num2))

첫번째 숫자: 100
두번째 숫자: 30
--------------------------------------------------
덧셈:100 + 30 = 130
뺄셈:100 - 30 = 70
곱셈:100 * 30 = 3000
나눗셈:100 / 30 = 3.333333

- f'string' 함수를 이용해 출력하기

In [27]:
num1 = int(input('첫번째 숫자: '))
num2 = int(input('두번째 숫자: '))
print('-'*50) #* : 문자열 반복
print(f'덧셈:{num1} + {num2} = {num1+num2}')
print(f'뺄셈:{num1} - {num2} = {num1-num2}')
print(f'곱셈:{num1} * {num2} = {num1*num2}')
print(f'나눗셈:{num1} / {num2} = {num1/num2}')

첫번째 숫자: 100
두번째 숫자: 30
--------------------------------------------------
덧셈:100 + 30 = 130
뺄셈:100 - 30 = 70
곱셈:100 * 30 = 3000
나눗셈:100 / 30 = 3.3333333333333335

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [30]:
velocity = float(input('속력를 입력해 주세요(km/h) : '))
distance = float(input('거리를 입력해 주세요(km) : '))
# 시간 = 거리 / 속력
print ('-'*50)
print (f'속력:{velocity}km/h')
print (f'거리:{distance}km')
print (f'시간:{distance/velocity}h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
속력:100.0km/h
거리:340.0km
시간:3.4h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [32]:
# eval()함수 사용
velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
time = eval(f'{distance}/{velocity}')
print(f'걸린 시간은 {time}h= {distance}km/{velocity}km/h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
걸린 시간은 3.4h= 340km/100km/h

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [33]:
import math
a=-3.14
print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
print(f'제곱  : {math.pow(2,8)}')
print(f'제곱근: {math.sqrt(4)}')
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [38]:
# 문제1: 반지름이 4인 원의 넓이 출력
print(f'반지름이 4인 원의 넓이:{3.14*4**2}')

# 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'{round(3.14*2/7)}')

# 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(2*3.14*4)

반지름이 4인 원의 넓이:50.24
1
25.12

In [10]:
#아래와 같이 정수 a을 입력받아, a+aa+aaa의 결과 값을 구하는 프로그램을 작성하세요.

a=input('정수를 입력하세요: ')
print(a)
print(a*2)
print(a*3)

value=f'{a}+{a*2}+{a*3}'
print(f'{a}+{a*2}+{a*3}={eval(value)}')


result = f"{a}+{a*2}+{a*3}"
print(f'{result} = {eval(result)}')

정수를 입력하세요: 7
7
77
777
7+77+777=861
7+77+777 = 861

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [1]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('a') )
print( ord('!') )
print( ord('가') )

65
97
33
44032

In [ ]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

In [3]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기

0b1101001100001100 0b1100011101110100 0b1100001101101100

In [4]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

1101001100001100 1100011101110100 1100001101101100

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [11]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')
print("₩"Yes, I can!"₩")

SyntaxError: ignored

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [9]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [14]:
menu = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(menu)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [15]:
# 주문받아 출력하기
print('카페주문 프로그램입니다.')
print('-'*50)
print(menu)
print('-'*50)
coffee=input('주문하실 음료를 입력하세요: ')
print(f'주문하신 음료 {coffee}가 나왔습니다. 맛있게 드세요~')

카페주문 프로그램입니다.
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하실 음료를 입력하세요: 아메리카노
주문하신 음료 아메리카노가 나왔습니다. 맛있게 드세요~

### 문자열 연산
- (+): 문자열 연결하기

In [16]:
print('안녕하세요'+'한륜경님')
print('안녕하세요','한륜경님')

안녕하세요한륜경님
안녕하세요 한륜경님

- (*) : 반복의 의미

In [17]:
print('봉구 '*3)

봉구 봉구 봉구

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [21]:
print ("Mary's cosmetics")
print('박씨가 소리질렀다. "도둑이야!"')
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

Mary's cosmetics
박씨가 소리질렀다. "도둑이야!"
안녕하세요.
오늘	날씨가		좋습니다.

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

---------------------------

### [실습문제] 파일명과 확장자 분리하기

In [23]:
fname = input('파일을 입력하세요.')
print(f'입력한 파일: {fname}')

a=fname.split('.')
print(f'파일명: {a[0]}, 확장자: {a[1]}')

파일을 입력하세요.test.ipynb
입력한 파일: test.ipynb
파일명: test, 확장자: ipynb

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [26]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁

meal = meal + (meal*tax) #4번
total = meal + (meal*tip) #5번
print(f'{round(total,2)}') #6번

5462.93

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [28]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp) )

c_temp = float(input('온도를 입력해 주세요(화씨): '))
f_temp = (9 / 5) * c_temp + 32
print(f'화씨 온도 {c_temp}℃를 섭씨 온도로 변환하면 {f_temp}℉!')

온도를 입력해 주세요(화씨): 30
화씨 온도 30.0℃를 섭씨 온도로 변환하면 86.0℉!

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [33]:

# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')

print(f"500원짜리 ==> {money // 500}개")
money  = money % 500   #money %=500
print(f"100원짜리 ==> {money // 100}개")
money = money % 100
print(f"50원짜리 ==> {money // 50}개")
money = money % 50
print(f"10원짜리 ==> {money // 10}개")
money = money % 10
print(f"잔돈 ==> {money}원")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 5420
동전으로 교환하겠습니다.---------
500원짜리 ==> 10개
100원짜리 ==> 4개
50원짜리 ==> 0개
10원짜리 ==> 2개
잔돈 ==> 0원

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [ ]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [42]:
print(a)
print(b)

python

NameError: ignored

In [39]:
print(list(range(10))) #range는 정수를 순차적으로 만들어주는 함수

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
#문자열을 리스트로 만들기
a='python'
기사 = '''오늘 남부지방과 제주도는 대체로 흐린 가운데 비가 내리겠습니다.
예상 강수량은 영남 해안 지역이 30에서 80mm, 많은 곳은 100mm 이상이고, 그 밖의 남부지방과 제주도는 10에서 60mm입니다.
비가 오는 동안 천둥·번개가 치고, 한 시간에 30mm가 넘는 강한 비가 쏟아지는 곳이 있겠습니다.
남부지방과 제주도의 비는 내일 오전까지 계속되는 곳이 있겠습니다.
오늘 중부지방은 가끔 구름이 많이 끼는 가운데 오후에 5에서 30mm의 소나기가 오는 곳이 있겠습니다.
낮 최고기온은 서울 33도 등 전국이 26도에서 34도로 어제와 비슷하거나 조금 더 높겠습니다.
바다의 물결은 남해 먼바다와 제주도 해상에서 최고 2.5m로 비교적 높게 일겠습니다.
동해안과 경남 남해안에는 높은 너울이 밀려오는 곳이 있겠고, 동해상에는 짙은 안개가 끼는 곳이 있겠습니다.
'''
기사 = 기사.replace('남부지방', '중부지방')  # 단어 다른 단어로 대체
print(기사)

result = 기사.split(' ') # ' '로 분리해서 리스트로 반환
print(f'리스트의 요소 개수(길이): {len(result)} ')
print(result)

오늘 중부지방과 제주도는 대체로 흐린 가운데 비가 내리겠습니다.
예상 강수량은 영남 해안 지역이 30에서 80mm, 많은 곳은 100mm 이상이고, 그 밖의 중부지방과 제주도는 10에서 60mm입니다.
비가 오는 동안 천둥·번개가 치고, 한 시간에 30mm가 넘는 강한 비가 쏟아지는 곳이 있겠습니다.
중부지방과 제주도의 비는 내일 오전까지 계속되는 곳이 있겠습니다.
오늘 중부지방은 가끔 구름이 많이 끼는 가운데 오후에 5에서 30mm의 소나기가 오는 곳이 있겠습니다.
낮 최고기온은 서울 33도 등 전국이 26도에서 34도로 어제와 비슷하거나 조금 더 높겠습니다.
바다의 물결은 남해 먼바다와 제주도 해상에서 최고 2.5m로 비교적 높게 일겠습니다.
동해안과 경남 남해안에는 높은 너울이 밀려오는 곳이 있겠고, 동해상에는 짙은 안개가 끼는 곳이 있겠습니다.

리스트의 요소 개수(길이): 92
['오늘', '중부지방과', '제주도는', '대체로', '흐린', '가운데', '비가', '내리겠습니다.\n예상', '강수량은', '영남', '해안', '지역이', '30에서', '80mm,', '많은', '곳은', '100mm', '이상이고,', '그', '밖의', '중부지방과', '제주도는', '10에서', '60mm입니다.\n비가', '오는', '동안', '천둥·번개가', '치고,', '한', '시간에', '30mm가', '넘는', '강한', '비가', '쏟아지는', '곳이', '있겠습니다.\n중부지방과', '제주도의', '비는', '내일', '오전까지', '계속되는', '곳이', '있겠습니다.\n오늘', '중부지방은', '가끔', '구름이', '많이', '끼는', '가운데', '오후에', '5에서', '30mm의', '소나기가', '오는', '곳이', '있겠습니다.\n낮', '최고기온은', '서울', '33도', '등', '전국이', '26도에서', '34도로', '어제와', '비슷하거나', '조금', '더', '높겠습니다.\n바다의', '물결은', '남해', '먼바다와', '제주도', '해상에서', '최고', '2.5m로', '비교적', '높게', '일겠습니다.\n동해안과', '경남', '남해안에는', '높은', '너울이', '밀려오는', '곳이', '있겠고,', '동해상에는', '짙은', '안개가', '끼는', '곳이', '있겠습니다.\n']

### 리스트 삭제

In [48]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

del(b)  #리스트 전체 삭제
print(a)
print(b)

[1, 2, 3, 4, 5]

NameError: ignored

### 리스트 요소에 접근

In [49]:
colors = ['red', 'green', ['blue', 'deepblue'], 'black', 'white']
print( colors[1] )
print( colors[2] )
print( colors[2][1] )
# '파이썬'을 출력하려면?

green
['blue', 'deepblue']
deepblue

### 리스트 요소 추가 / 변경

In [71]:
# 리스트 요소 추가
colors = ['red', 'green', ['blue', 'deepblue'], 'black', 'white']
print(colors)
colors.append('pink')     # 리스트 맨 끝에 추가
print(colors)
colors.insert(1, 'yellow')  # 리스트명.insert(인덱스위치, 값)
print(colors)
colors[3].insert(1,'darkblue')
print(colors)
colors.append(['R','G','B'])
print(colors)

['red', 'green', ['blue', 'deepblue'], 'black', 'white']
['red', 'green', ['blue', 'deepblue'], 'black', 'white', 'pink']
['red', 'yellow', 'green', ['blue', 'deepblue'], 'black', 'white', 'pink']
['red', 'yellow', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', 'pink']
['red', 'yellow', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', 'pink', ['R', 'G', 'B']]

In [72]:
# 리스트 요소 변경
colors[1] = '노랑'  #해당 위치에 변경할 값을 대입
print(colors)

colors[3][1] = 'lightblue'
print(colors)

colors [3:8] = 'yellow'
print(colors)

['red', '노랑', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', 'pink', ['R', 'G', 'B']]
['red', '노랑', 'green', ['blue', 'lightblue', 'deepblue'], 'black', 'white', 'pink', ['R', 'G', 'B']]
['red', '노랑', 'green', 'y', 'e', 'l', 'l', 'o', 'w']

### 리스트 요소 삭제

In [73]:
print(colors)
colors.pop()     # 리스트 맨 끝 요소 삭제
print(colors)
colors.remove('y')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(colors)

['red', '노랑', 'green', 'y', 'e', 'l', 'l', 'o', 'w']
['red', '노랑', 'green', 'y', 'e', 'l', 'l', 'o']
['red', '노랑', 'green', 'e', 'l', 'l', 'o']

In [77]:
# 리스트 요소 삭제
colors = ['red', 'light green', 'green', 'e', 'l', 'l', 'o']
print(colors)

del colors[3]       # 특정 위치 요소 제거
print(colors)

colors.remove('l')  # 특정 값 제거 (첫번째 값만 제거)
print(colors)

colors.pop()        # 맨 뒤의 요소 제거
print(colors)

['red', 'light green', 'green', 'e', 'l', 'l', 'o']
['red', 'light green', 'green', 'l', 'l', 'o']
['red', 'light green', 'green', 'l', 'o']
['red', 'light green', 'green', 'l']

In [76]:
for _ in range(-1,-5,-1):
  colors.pop()
  print(colors)

['red', '노랑', 'green', 'e', 'l', 'l']
['red', '노랑', 'green', 'e', 'l']
['red', '노랑', 'green', 'e']
['red', '노랑', 'green']

In [82]:
# 임의의 수 생성해서 리스트로 만들고 정렬하기
import random

numbers = []  #빈 리스트 []=list()
num = random.randint(1,100)  #1~100까지 정수중에 임의로 하나 뽑기
numbers.append(num)
print(numbers)

#리스트에 추가
print('-'*50)
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
print(f'정렬 전: {numbers}')

#정렬하기
numbers.sort()
print(f'정렬 후: {numbers}')

#거꾸로 정렬
numbers.sort()
numbers.reverse()
print(f'정렬 후: {numbers}')

[100]
--------------------------------------------------
정렬 전: [100, 34, 2, 21, 43, 3]
정렬 후: [2, 3, 21, 34, 43, 100]
정렬 후: [100, 43, 34, 21, 3, 2]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [89]:
members = {} #빈 딕셔너리
members = dict() #빈 딕셔너리
print(type(members), members)

members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(members)
print(members['age'])  #특정 키로 값 찾기
print(members.get('age'))
members[7] = ['정국','뷔','지민']  #딕셔너리에 요소 추가 = 새로운 키:값 추가
print(members)

<class 'dict'> {}
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
29
29
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [96]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    print('%s => %s' % (key, scores[key]))
    print(f'{key}=>{scores[key]}') #위에 명령어와 같음

print(scores.items()) #키,값 요소를 갖는 리스트 형태로 반환하는 함수

#  방법2
print('---방법2---')
for key, value in scores.items():
     print('%s => %s' % (key, value))
     print(f'{key}=>{value}') #위에 명령어와 같음

100
---방법1---
국어 => 100
국어=>100
수학 => 90
수학=>90
영어 => 80
영어=>80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])
---방법2---
국어 => 100
국어=>100
수학 => 90
수학=>90
영어 => 80
영어=>80

In [98]:
print(scores.keys())   # 키만 추출
print(scores.values()) # 키만 추출
print(scores.items())  # (키,값)쌍 형태로 추출해서 리스트로 반환

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [99]:
# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del (scores['영어'])
print(scores)

{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, 'music': 100}

### 튜플(Tuple)

In [105]:
a = tuple() #빈 튜플 생성
a = () #빈 튜플 생성
print(type(a))

a=(1,)  #튜플에 요소 1개를 정의할 때는 반드시 콤마
print(type(a),a)

a=(1,2)
print(type(a),a)

a=(1,2,3,4,5)
print(type(a),a)

print(a[3])
print(a[:3])

#a[3] = 44   #튜플의 요소를 변경하거나 추가할 수 없다

<class 'tuple'>
<class 'tuple'> (1,)
<class 'tuple'> (1, 2)
<class 'tuple'> (1, 2, 3, 4, 5)
4
(1, 2, 3)

### 집합(Set)

In [107]:
a=set() #빈 집합
a=set("Hello")
print(type(a),a)

<class 'set'> {'e', 'o', 'H', 'l'}

In [109]:
#집합에서는 중복된 데이터를 배제시킬 수 있다.
fruits = (['사과','바나나','사과','포도','귤','귤'])
a=list(set(fruits))
a.sort()    #가나다 순으로 정렬
print(a)

['귤', '바나나', '사과', '포도']

------------------------

끝